/* Fonts integration */
@font-face {
    font-family: 'saudagar';
    src: url('/assets/saudagar.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ancient-medium';
    src: url('/assets/ancient-medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body {
    margin: 2rem;
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    font-size: larger;
}

/* Links */
a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: crimson;
}

a:hover {
    color: darkblue;
}

/* Header */
header {
    display: flex;
    opacity: 0.8;
}

header {
    font-family: 'ancient-medium', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    margin: auto auto;
}

header h1 {
    font-size: 55px;
    word-spacing: 5px;
    text-transform: uppercase;
    margin: auto 0;
}

/* Header Navigation */
header nav {
    width: 80%;
    display: flex;
    
}

header nav li {
    font-size: 30px;
    font-style: italic;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 0.4rem;
    cursor: pointer;
}

/* Header Nav */
nav ul .li-style {
    list-style-type: square;
}
nav ul .li-style2 {
    list-style-type: circle;
}
nav ul .li-style3 {
    list-style-type: upper-roman;
}
nav ul .li-style4 {
    list-style-type: upper-roman;
}

/* Main */
main {
    padding: 1rem;
}

h2,
h3,
div,
input,
p,
span {
    font-family: "saudagar", arial;
}

p {
    cursor: text;
}

h2 {
    width: 45%;
    color: darkblue;
    font-weight: 800;
    text-decoration: underline;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    box-shadow: 3px 3px 3px 3px crimson;
    letter-spacing: 2px;
}

h3 {
    font-style: italic;
}

/* Main Containers */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid goldenrod;
    padding: 0.5rem 5rem;
    gap: 1rem;
}

/* Grid Responsive */
@media (max-width: 1160px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* Main Tables */
table {
    border-collapse: collapse;
}

td,
th {
    border: 2px solid darkgray;
    padding: 10px;
}

caption {
    margin-bottom: 10px;
}

/* Footer */
footer {
    display: block;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-style: dashed;
    border-width: 3px;
    border-color: darkslategray;
    opacity: 0.8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

/* Forms */
form legend, form input {
    margin: 0.5rem;
}

.final-form {
    border: 1px solid darkgray;
    padding: 0.5rem;
    box-shadow: 3px 1px 3px 5px gray;
}

.final-form input {
    font-size: 16px;
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    color: blue;
}

.text-lorem {
    text-indent: 40px;
    white-space: pre-wrap;
    border: 1px solid black;
    box-shadow: 12px 12px 2px 1px rgba(49, 49, 49, 0.2);
    border-radius: 5px 30px 60px 5px;
}

.text-lorem::first-letter {
    font-size: 32px;
    font-size: bold;
    font-style: italic;
}